.main-chat
  .main-chat__group-info
    .main-chat__group-info__left
      .main-chat__group-info__left__group-name
        test
      .main-chat__group-info__left__menber-name
        Member:makoto
    .main-chat__group-info__right
      Edit

  .main-chat__message-list

  .main-chat__message-form