.side-chat
  .side-chat__header
    .side-chat__header__
    .side-chat__header__username
      makoto
    .side-chat__header__menu
      .side-chat__header__menu__new-group
        = link_to '#', method: :get do
          %i.fas.fa-edit

      .side-chat__header__menu__edit-user
        = link_to '#', method: :get do
          %i.fas.cog

  .side-chat__groups