.side-bar{
  background-color: #253141;
  height: 100vh;
  width: 300px;

  &__user-name {
    height: 100px;

    &__top-items{

      &__name{

      }

      &__icons{

      }
    }
  }


  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}